<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="UTF-8">
    <title>BookRepository</title>
    <meta http-equiv="Content-Language" content="pl"/>
    <link th:href="@{/styles/styles.css}" rel="stylesheet"/>

</head>
<body>

<div class="view-container">


    <div class="app-header-container">
        <h2 class="app-header">BOOK REPOSITORY</h2>
    </div>

    <div class="navigation-menu">
        <div class="navigation-menu-item">
            <a th:href="@{/books}">View All Books</a>
        </div>
        <div class="navigation-menu-item">
            <a th:href="@{/books/new}">Add Book</a>
        </div>
    </div>

    <div class="view">

        <form th:action="@{/books/news}" th:object="${book}" method="post">

            <div class="input">
                <span>Title: </span>
                <input name="title" placeholder="Title" th:value="${book.title}"/>
                <div class="validation-error" th:each="err : ${#fields.errors('title')}">
                    <span th:text="${err}"/>
                </div>
            </div>

            <div class="input">
                <span>Author: </span>
                <input name="author" placeholder="Author" th:value="${book.author}"/>
                <div class="validation-error" th:each="err : ${#fields.errors('author')}">
                    <span th:text="${err}"/>
                </div>
            </div>


            <div class="input">
                <span>Publishment Year: </span>
                <select th:field="${book.publishmentyear} ">

                    <option th:each="i : ${#numbers.sequence(0, 2020)}"
                            th:value="${i}"
                            th:text="${i}">
                    </option>
                </select>
            </div>


            <div class="input">
                <div>
                    <span>Category: </span>

                    <select th:field="*{category}">
                        <option value="Unknown">Unknown</option>
                        <option value="Romance">Romance</option>
                        <option value="Thriller">Thriller</option>
                        <option value="Fantasy">Fantasy</option>
                        <option value="Biography">Biography</option>
                        <option value="Guide">Guide</option>
                        <option value="Sensation">Sensation</option>
                        <option value="Since-fiction">Since-fiction</option>
                        <option value="Documentary">Documentary</option>
                        <option value="Coursebook">Coursebook</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div>

            <div>

                <button type="submit">Send</button>

            </div>

        </form>
        </table>
    </div>

</div>
</body>
</html>